/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

ngb-rating {
  color: #FFC107;
  font-size: 22px;
}

/* hidding the ngb-rating component extra spans */
.visually-hidden{
  visibility: hidden;
}

*{
  box-sizing: border-box;
}

html{
  font-size: 16px;
}

html,
button{
  font-family: "Quicksand", "sans-serif";
}

body{
  margin : 0;
}

a{
  text-decoration: none;
}
